.text-sm {
  font-size: 0.8rem;
}

.indicators {
  bottom: 2rem;
  position: absolute;
  width: 100%;
  z-index: 30;
  li {
    margin: 0 0.3rem !important;
    button::before {
      background-color: white !important;
    }
  }
}

.slider-home {
  height: 65vh;
}

.logo {
  svg {
    @media (max-width: 980px) {
      width: 140px;
    }
  }
}

#banner {
  height: 33vh;
  background-image: url('./images/banner.jpg');
}

#elpueblo {
  background-image: url('./images/bg-club.jpg');
  background-size: 100% 50vh;
}

#colegio {
  background-image: url('./images/bg-colegio.jpg');
}

#naturaleza {
  background-image: url('./images/bg-naturaleza.png');

  @media (max-width: 980px) {
    background-size: auto 33%;
  }
}
