.text-sm {
  font-size: 0.8rem;
}

.indicators {
  bottom: 2rem;
  position: absolute;
  width: 100%;
  z-index: 30;
  li {
    margin: 0 0.3rem !important;
    button::before {
      background-color: white !important;
    }
  }
}

.slider-home {
  height: 65vh;
}

.logo {
  svg {
    @media (max-width: 980px) {
      width: 140px;
    }
  }
}
