nav {
  @media (max-width: 980px) {
    position: fixed;
    left: 0;
    top: 90px;
    width: 100vw;
    height: 100vh;
    padding-left: 1.5rem;
    background-color: white;
    padding-top: 2rem;
    ul {
      display: block !important;
      li {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}

.text-sm {
  font-size: 0.8rem;
}

.indicators {
  bottom: 2rem;
  position: absolute;
  width: 100%;
  z-index: 30;
  li {
    margin: 0 0.3rem !important;
    button::before {
      background-color: white !important;
    }
  }
}

#hero {
  height: 65vh;
}

.slider-home {
  height: 65vh;
}

.logo {
  svg {
    @media (max-width: 980px) {
      width: 160px;
    }
  }
}

#banner {
  height: 33vh;
  background-image: url('/images/banner.jpg');
}

#elpueblo {
  background-image: url('/images/bg-club.jpg');
  background-size: 100% 50vh;
}

#colegio {
  background-image: url('/images/bg-colegio.jpg');
}

#naturaleza {
  background-image: url('/images/bg-naturaleza.png');

  @media (max-width: 980px) {
    background-size: auto 33%;
  }
}

#contacto {
  background-image: url('/images/bg-contacto.jpg');
}
